node_modules

.env
*.env
.env.*
**/.env.*
backend/.env
frontend/.env
frontend/.env.local
supabase/.env

__pycache__
*.py[cod]

.pytest_cache

venv
.venv
backend/venv
backend/.venv
frontend/venv
frontend/.venv

frontend/build

dist
build

backend/storage

supabase/.temp
